@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 1000px;
    font-family: 'Quicksand', cursive;
}

.nav {
    width: 100%;
    height: 4vw;
    position: fixed;
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    z-index: 1;
}

.nav .name {
    padding: 2px;
    color: white;
    font-size: 1.7vw;
}

.nav .buttons {
    height: 100%;
    display: flex;
}

.nav .buttons a {
    text-decoration: none;
    color: white;
    padding: 2px 8px;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 1.2vw;
    margin: 0 2px;
}

.nav .buttons a:hover {
    color: rgb(255, 80, 0);
    background: #444;
}

.section #about {
    padding: 2vw;
    width: 100%;
    background: rgba(10, 10, 10, 0.932);
    position: absolute;
    margin-top: 4vw;
    display: flex;
    flex-direction: row;
}

.section #about .pic {
    flex: 1;
    padding: 4vw;
}

.section #about .pic img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

.section #about .info {
    flex: 2;
    padding: 4vw 4vw;
    font-size: 1.5vw;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}