@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    height: 1000px;
    font-family: 'Quicksand', cursive;
}

h2 {
    font-size: 1.7vw;
}
h3,li,h4,td {
    font-size: 1.5vw;
}
.nav {
    width: 100%;
    height: 4vw;
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    z-index: 1;
}

.nav .name {
    padding: 2px;
    color: white;
    font-size: 1.7vw;
}

.nav .buttons {
    height: 100%;
    display: flex;
}

.nav .buttons a {
    text-decoration: none;
    color: white;
    padding: 2px 8px;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 1.2vw;
    margin: 0 2px;
}

a {
    text-decoration: none;
    color: white;
}

.nav .buttons a:hover {
    color: rgb(255, 80, 0);
    background: #444;
}

.section #about {
    padding: 2vw;
    width: 100%;
    background: rgba(10, 10, 10, 0.932);
    margin-top: 4vw;
    display: flex;
    flex-direction: row;
}

.section #about .pic {
    flex: 1;
    padding: 0 4vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section #about .pic img {
    height: 20vw;
    border-radius: 50%;
}

.section #about .info {
    flex: 3;
    padding: 4vw 4vw;
    font-size: 1.5vw;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section #about .info h2 {
    margin-bottom: 3vw;
}

.section #education {
    color: white;
    padding: 2vw 10vw;
    width: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;
}

hr {
    margin-bottom: 2vw;
}

.section #education .ed1 {
    padding: 0.5vw;
    margin: 0 3vw;
}

.section #education .dots {
    width: 0px;
    height: 5vw;
    margin: 0 5vw;
    border: dashed 2px white;
}

.section #certificates {
    color: white;
    padding: 2vw 10vw;
    width: 100%;
    background-color: #444;
    display: flex;
    flex-direction: column;
}

.section #certificates hr {
    margin-bottom: 2vw;
}

.section #certificates .certs {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.section #certificates .certs img {
    width: 90%;
    padding: 1vw;
}

.section #achievements {
    color: white;
    padding: 2vw 10vw;
    width: 100%;
    background-color: black;
}

.section #achievements .lists {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.section #achievements .lists h3 {
    margin-bottom: 1vw;
}

.section #contactme {
    color: white;
    padding: 2vw 10vw;
    width: 100%;
    background-color: #444;
}

.section #contactme table tr td {
    padding: 1vw 1vw;
}

.section #contactme img {
    width: 3vw;
}