* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: row;
    height: 4000px;
}

.left {
    border: solid 1px red;
    width: 30%;
    height: 100vh;
    position: fixed;
    left: 0;
}

.right {
    border: solid 1px black;
    width: 70%;
    height: 100vh;
    position: absolute;
    right: 0;
}